<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add providerName="System.Data.SQLite" name="Scheduler" connectionString="Data Source=data/schedluer.db;Pooling=true;FailIfMissing=false" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description="ddd"
           type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>